@import url('../web-font/fonts.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css');
@import url('http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css');
@import url('https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/css/gijgo.min.css');
/**
font-family: 'FuturaPT-Light';
font-family: 'FuturaPT-Medium';
font-family: 'Futura PT Book';
**/
html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'FuturaPT-Medium'; font-weight: normal;
}

body {  font-size: 14px;}


h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
select::-ms-expand {
   display: none;
}

.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/**Custom CSS**/

header {
    background: #37374a;
    min-height: 120px;
    z-index: 99;
    position: fixed;
    border-bottom: 1px solid #454557;
    width: 100%;
    top: 0px; display: flex;
    justify-content: space-between;
    align-items: center; padding: 0px 75px 0px 40px;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: flex;
    width: 100%;
    justify-content: space-between;}

header .logo h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'FuturaPT-Medium';  font-weight: normal;
    text-transform: uppercase;letter-spacing: 0.02em;
}

header .row {
    height: 100%;
}



.profile-setup {
    text-align: right;
}
.dash-profile .dropdown-menu > li > a:hover{color: #f09115;}

.profile-setup .user-pic {
     width: 60px;
    height: 60px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
span.icon svg { fill: #fff;  width: 100%;  height: 100%;}
.dash-profile { position: relative;}

.dash-profile .profile-btn.dropdown-toggle {
    color: #fff;
    font-family: 'FuturaPT-Medium';  font-weight: normal;
    font-size: 16px;cursor: pointer;
}

.dash-profile .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dash-profile .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 30px;
}

.dash-profile .dropdown-menu {
    width: 100px;
}

.dash-profile .dropdown-toggle::after {
    display: none;
}

.dash-profile a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #f09015!important;
}


/**side Bar **/

aside.menu-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background: #37374a;
    padding-top: 150px;
}
aside.menu-sidebar figure {  margin: 0;  width: 80px;  height: 80px; display: inline-block; }
aside.menu-sidebar .profile .profile-inner img { display: inline-block; width: 80px;  height: 80px; border-radius: 100%; margin-right: 15px;
    vertical-align: middle;}
.profile-inner { display: flex;  position: relative;}
aside.menu-sidebar .profile h2 {
    font-size: 23px;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-left: 20px;
}

.welcome-profile {
    display: block;
}

.profile {
    padding: 0 40px;
}

aside.menu-sidebar ul li.active .btn-secondary {
    color: #fff;
    background-color: #f09115;
    border-color: transparent;
    width: 100%;
    line-height: 2.5;
    border-radius: 0px;
    font-size: 20px;
    text-align: left;
    padding: 0 40px;
    text-transform: uppercase;
}

aside.menu-sidebar .menu-list ul.nav li a.drwopicon::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: 0;
    content: "\f054";
    border-top: inherit;
    border-right: inherit;
    border-bottom: inherit;
    border-left: inherit;
    position: absolute;
    right: 13px;
    top: 13px;
    font-family: fontawesome;
    font-size: 11px;
    transform: rotate(0deg);
    width: 13px;
    height: 15px;
}
aside.menu-sidebar .menu-list ul.nav li a.active.drwopicon::after {
    content: "\f078";
}
aside.menu-sidebar .menu-list ul.nav li a.drwopicon.active.collapsed::after{content: "\f054";}
aside.menu-sidebar .show .dropdown-toggle::after {
    content: "\f054";
}
.menu-list li.curunt ul li a.active, .menu-list li.curunt ul li a:hover{ background: none;color: #f09015;}
aside.menu-sidebar .menu-list ul.nav li ul li a.active::after{ display: none;}
.menu-list {
    margin-top: 35px;
}

aside.menu-sidebar .dropdown .dropdown-menu {
    position: inherit!important;
    transform: translate3d(0px, 0px, 0px)!important;
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: medium none;
    background: none;
    box-shadow: none;
}

aside.menu-sidebar li {
    position: relative;
}

aside.menu-sidebar .dropdown-item.active:hover {
    background: #fff;
}

aside.menu-sidebar .dropdown-item.active {
    background: transparent;
    color: #f09115;
}

aside.menu-sidebar .dropdown-item {
    padding: 4px 20px 4px 75px;
    line-height: 2.7;
}

aside.menu-sidebar .btn-secondary {
    color: #fff;
    background-color: #37374a;
    border-color: transparent;
    width: 100%;
    line-height: 2.5;
    border-radius: 0px;
    font-size: 20px;
    text-align: left;
    padding: 0 40px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.menu-list ul li a {
    color: #fff;
    border-color: transparent;
    width: 100%;
    line-height: 2.7;
    border-radius: 0px;
    font-size: 20px;
    text-align: left;
    padding: 0 40px;
    text-transform: uppercase;
    font-family: 'Futura PT Book'; 
    font-weight: normal!important;
    letter-spacing: 0.05em;    display: block;
}

aside.menu-sidebar li span.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 0;
    z-index: 99;
    margin-right: 13px;
    position: relative;;
}

aside.menu-sidebar li.Packages span.icon {
    background: url('../images/packege-icon-nav.png');
}

aside.menu-sidebar li.Students span.icon {
    background: url('../images/action.png');
}

aside.menu-sidebar li.Status span.icon {
    background: url('../images/Status.png');
}

aside.menu-sidebar li.Reporting span.icon {
    background: url('../images/Reporting.png');
}

aside.menu-sidebar li.Admin span.icon {
    background: url('../images/Admin.png');
}

aside.menu-sidebar .dropdown-item::before {
    content: '\f054';
    font-family: fontawesome;
    font-size: 18px;
}

aside.menu-sidebar ul li {
    border-bottom: 1px solid #5f5f6e;    background: #383749;
}

aside.menu-sidebar .menu-list ul.nav li ul li a::before {
    content: '\f054';
    font-family: fontawesome;
    font-size: 12px;
    top: -2px;
    margin-right: 0;
    position: relative;
    right: 10px;
}
aside.menu-sidebar .menu-list ul.nav li ul li:last-child {
    border-bottom: 1px solid #5f5f6e;
}

aside.menu-sidebar .menu-list ul.nav li ul li a {
    padding: 4px 20px 4px 70px;
    line-height: 1.7;
    text-transform: capitalize;
    font-family: 'Futura PT Book';  font-weight: normal;
}
aside.menu-sidebar ul li:first-child {border-top: 1px solid #5f5f6e;}  

/*side Bar end**/


/*** main Section **/

.main-section {
    display: block;
    margin-left: 320px;
    position: relative;
    margin-top: 120px;
    background: #fff;
    min-height: 100%;
    padding: 75px;
}

/*** main Section End **/

/*** Add package page **/

.inner-section {
    border: 1px solid #cbcbcb;
    padding: 40px 50px;
    min-height: 358px;
}


.inner-section input[type="text"] {
    background: none;
    line-height: 3;
    border: 1px solid #cbcbcb;
    width: 100%;
    border-radius: 10px;
    padding: 0px 15px; font-family: 'FuturaPT-Light';     transition: all 1s ease;
}
.inner-section h2 {
    color: #272727;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase; letter-spacing: 0.05em;
}

.inner-section form input[type="text"] {
    background: none;
    line-height: 3;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 0px 15px;
    margin-bottom: 0px;
    font-family: 'FuturaPT-Light';
    font-size: 18px;
    min-width: 67%; width: auto;transition: all 1s ease; display: inline-block;
}


.inner-section form input[type="submit"] {
    background: #f09115;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    min-width: 173px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
    font-family: 'FuturaPT-Medium';
    transition: all 1s ease;
    padding: 14px 25px;
    width: auto;
}

a.profile-btn.dropdown-toggle{-webkit-appearance: none;}
.inner-section form input[type="submit"]:hover {
    background: #37374a;
    transition: all 1s ease;
    cursor: pointer;
}
.form-group { margin-bottom: 8px;}
select.form-control {
    content: '1';
    display: block;
    background: url(../images/erow-down.png);
    width: auto;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 96% 50%;
    margin-bottom: 0px;
    border: solid 1px #cbcbcb;
    height: 52px!important;
    padding: 6px 40px 6px 20px; font-family: 'FuturaPT-Light'; display: inline-block; font-weight: normal;
}

.addition.right {
    width: 370px;
    float: right;
}
.inner-section form input[type="text"]::-webkit-input-placeholder { color:#272727; }
 .inner-section form input[type="text"]::-moz-placeholder { color:#272727; } /* firefox 19+ */
 .inner-section form input[type="text"]:-ms-input-placeholder { color:#272727; } /* ie */ 
 .inner-section form input[type="text"]:-moz-placeholder { color:#272727; }
.inner-section form input::-webkit-input-placeholder {
    color: #272727;
}

form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #272727;
}

input::placeholder {
    color: #272727;
}

form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #272727;
}

form input:-moz-placeholder {
    /* Firefox 18- */
    color: #272727;
}

.package-section {
    margin-top: 65px;
}

.package-section table tr th {
    background: #37374a;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.06em;    border: none; 
}

/*tbody tr th, tbody tr td {
    border-left: 1px solid #d7d7db;
}*/

a.edite {
    background: #f09115;
    color: #fff;
    text-transform: uppercase;
    min-width: 120px;
    display: inline-block;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    font-family: 'FuturaPT-Medium';  font-weight: normal;
    border: 1px solid #f09015;  transition: all 1s ease; letter-spacing: 0.04em;
}

a.Delete {
    border: 1px solid #f09015;
    color: #f09015;
    margin-left: 10px;
    width: 120px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';  transition: all 1s ease;
}

.package-section table td,.package-section table th{
    border: 1px solid #dee2e6;
    width: 25%;
}

.package-section table {
    text-align: center;
    max-width: 1165px; width: 100%;
}

.package-section table th {
    font-family: 'FuturaPT-Medium';  font-weight: normal;
    font-weight: normal;padding: 18px 10px;
}

.package-section table td {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    color: #272727;
    font-size: 18px;
    padding: 15px 10px;
}

.package-section .table th {
    border-bottom: none;
}

a.Delete:hover {
    background: #f09115;
    color: #fff;
}

a.edite:hover {
    border: 1px solid #f09015;
    background: transparent;
    color: #f09115
}



.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: none!important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #f39b28!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #f39b28!important;
    text-decoration: none;
    background: none!important;
}
.menu-list li.curunt a.active {
    background: #f09115;
}
.dash-profile .dropdown.show { background:none;}
.mCSB_inside>.mCSB_container { margin-right: 8px;}

/** add package end **/

/** add payment**/
.add-payment{ padding: 0px 15px;}
.add-payment select.form-control { min-width: 398px;}
.add-payment label { display: inline-block;  font-size: 18px;  color: #272727;   font-family: 'FuturaPT-Medium'; font-weight: normal;min-width: 185px; margin: 0; text-transform: uppercase; letter-spacing: 0.04em}
.add-payment .inner-section { max-width: 700px;}
#datepicker {
    width: 100%;
    line-height: 2.6;
    border-radius: 10px;
    min-width: 100%;
}
.gj-datepicker [role="right-icon"] {
    cursor: pointer;
    display: table-cell;
    position: absolute;
    top: 4px;
    right: 5px;
    background: none; z-index: 999;

}
.gj-datepicker-bootstrap span[role="right-icon"] .input-group-text {
    padding: 7px 8px 8px 30px;
    border-left: 0;
    background: none;
    border: none;
}
.add-payment .form-group {  margin-bottom: 7px;  display:block;  justify-content: center;  align-items: center;}
.add-payment .form-group select{ margin: 0;}
/*.add-payment .form-group input[type="text"]{ min-width: 398px;}*/
.gj-datepicker [role=right-icon] { cursor: pointer; display: table-cell;  width: 98%!important;  line-height: 2.5; border-radius: 15px;}

/***reporting***/
.add-payment.reporting .form-group { margin-bottom: 7px;  display: block;}
.add-payment.reporting label { margin:0 0 30px 0; letter-spacing: 0.07em;width: 100%;}
.add-payment.reporting .inner-section {  max-width: 100%;}
.add-payment.reporting form .form-group input[type="text"]{ max-width: 645px; width: 100%;}
.add-payment.reporting label { display: block; min-width: auto;}
.add-payment.reporting .form-group.submit-btn{ display: inline-block; width: 100%;margin-top: 15px;}
.add-payment.reporting .form-group.submit-btn label { display: inline-block;  margin-right: 12px;  width: auto;  min-width: auto;}
form input[type="submit"].darkblue{background: #37374a;}
form input[type="submit"].darkblue{background: #37374a;}
form input[type="submit"].darkblue:hover,.add-payment.reporting  .inner-section form .form-group input[type="submit"].border-only:hover{background: #f09115; color: #fff;}
.add-payment.reporting form .form-group.submit-btn input[type="submit"] {display: inline-block;}
form .form-group input[type="submit"].border-only {margin-right: 0px; background: #fff; border: 2px solid #f09115; padding: 12px 25px; color: #f09115;}
.add-payment.reporting  form .form-group .row {margin-bottom: 30px; margin-left: 0; margin-right: 0;  margin-bottom: 30px;}
.add-payment.reporting form .form-group.submit-btn input[type="submit"] { margin-right: 0px;}
/***reporting end***/

/** student list**/
.package-section.student-list table {  max-width: 100%;  width: 100%;}
.package-section.student-list  table td, .package-section.student-list  table th {  width: auto;}
.package-section.student-list label { display: inline-block;  font-size: 18px;  color: #272727;  font-family: 'FuturaPT-Medium';  font-weight: normal;  min-width: 180px;}
.status .inner-section{ min-height: auto;}
.inner-section label{    background: none;
    padding: 0px;
    font-family: 'FuturaPT-Medium'; font-weight: normal; text-transform: uppercase; letter-spacing: 0.05em ; margin: 0px;
    font-size: 18px;  transition: all 1s ease; width: 32%;}
.status .inner-section form input[type="text"] { width: 78%; display: inline-block; font-family: 'FuturaPT-Light';}
.status .inner-section form .col-xl-5{ padding-right: 0px;height: 100%;padding-top: 0px;}
.no-gutters{ padding: 0;}
.status .inner-section form .no-gutters  input[type="text"] {  width: 70%; min-width: auto;}
.Date{ position: relative;}
.gj-datepicker {
    max-width: 100%;
    width: 67%;
    display: inline-block!important;
}
.add-payment.reporting .form-group.submit-btn label { margin-bottom: 0; }
.status label {  margin-right: 20px; width: auto; }
.status .inner-section form input[type="submit"] { margin-top: 0px;}
.status .inner-section form .form-group{margin-bottom: 0px;}
select.form-control { width: 67%;  min-width: auto;  display: inline-block;}
.status.payment-report .inner-section form .no-gutters input[type="text"],.status.payment-report .inner-section form .no-gutters .gj-datepicker {width: 54%;}
.status.payment-report .inner-section form .no-gutters .gj-datepicker input[type="text"] {  width: 100%;  border-radius: 10px;}
.payment-report .gj-datepicker [role="right-icon"] { top: 10px; right: 2px;}
.add-payment.reporting input.form-control {  width: 100%;   max-width: 84%;}
.add-payment.reporting .gj-datepicker {  max-width: 100%;  width: 48%; }
.add-payment.reporting form .form-group input[type="text"] { max-width: 100%;  width: 94%;  min-width: 96%;  border-radius: 10px;}
.add-payment.reporting .gj-datepicker [role="right-icon"] { top: 6px; right: 19px; }

/*** reporting end ***/

/*** student Detail ***/
.student-details ul li {
    border-bottom: 1px solid #e4e4e4;
    line-height: 3.5;
	font-family: 'FuturaPT-Light';font-size: 18px;letter-spacing: 0.06em;
}
.add-payment.reporting input.form-control {  width: 100%;  max-width: 84%;}
.student-details ul li strong {
    font-size: 18px;
    min-width: 32%;
    display: inline-block;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.07em;vertical-align: top;
}
.student-details ul li ul li {
    display: inline-block;
    border: none;
}
.student-details ul li ul li input{ background:     ;}
.student-details ul li ul{  display: inline-block;width: 67%; padding: 22px 0 0;}
.custom-checkbox input[type="checkbox"] { display: none; }
.custom-checkbox span.checkbox {
    background-color: #fff;
    border: solid 1px #dbdbdb;
    cursor: pointer;
    display: block;
    height: 21px;
    margin: 0px;
    position: absolute;
left:-35px;
top:0px;
    width: 21px;
}
.custom-checkbox input[type='checkbox']:checked + span.checkbox { background: #f3a321; border-color: #f3a321; text-align:center; }
.custom-checkbox input[type='checkbox']:checked + span.checkbox:before {
    content: "\f00c";
    color: #29262a;
    font: normal normal normal 15px/2 FontAwesome;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: auto;
}
.custom-checkbox input[type='checkbox']:checked + span.checkbox {
    background: transparent;
    border-color: #cccc;
    text-align: center;
}
.student-details ul li ul li {  display: inline-block;  border: none;  width: 25%;  margin-right: 10%;}
.student-details ul li ul li:nth-child(3n) {  margin-right: 0px;  border: none;}

.add-payment.reporting label.export-registered { margin-bottom: 6px;  margin-top: 38px;}
.inner-section ul.checkinfo label.custom-checkbox{ cursor: pointer;  position: relative;  display: block;  width: 28px;  line-height: initial; text-align: left;font-family: 'FuturaPT-Light'; font-weight: normal; text-transform: capitalize; margin-left: 35px;}
.student-details ul.checkinfo li label{ text-align: left;font-family: 'FuturaPT-Light'; font-weight: normal;text-transform: capitalize;    display: block;line-height: 2.3;    width: 100%; }
.student-details input[type="submit"],.student-details input[type="submit"].cancel {
    background: #f09115;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    min-width: 173px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
    font-family: 'FuturaPT-Medium';
    transition: all 1s ease;
    padding: 12px 25px;
    width: auto; cursor: pointer;border: 2px solid #f09115;
}
.student-details input[type="submit"].cancel{background:none; color: #f09115; border: 2px solid #f09115;padding: 12px 25px; margin-left: 20px;}
.student-details input[type="submit"].cancel:hover{background:#f09115; color: #fff;}
.student-details input[type="submit"]:hover{background:none; color: #f09115; border: 2px solid #f09115; }
.student-details ul li:last-child{ border-bottom: none;}
.current select.form-control { width: 100%;  min-width: auto; display: inline-block;  margin-top: 17%;}
.secon-lesson { border-top: 1px solid #ccc;  margin-top: 42px;  padding-top: 42px;}
.student-details .inner-section { min-height: 1035px;}
.form-group.submit-btn {  margin-top: 25px;}
.student-details .lesionright ul li strong { min-width: 50%;}
.student-details ul li:nth-child(6) { border: none;}
.padding-right{ padding-right: 0px;}
.add-payment.admin .form-group input[type="password"] { min-width: auto;   width: 64%;   display: inline-block; -webkit-letter-spacing: -0.4em;}
.add-payment.admin .form-group label{ width: 34%; display: inline-block;}
.add-payment.admin .form-group input[type="password"] {  line-height: 2.5;}
/****end ***/


 /* IE10+ specific styles go here */ 

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	 .inner-section form input[type='text']{height: 40px!important;}
	 select.form-control { height: 52px !important;padding: 6px 10px 6px 20px!important;}
	 header{ padding-top: 20px!important;}
aside.menu-sidebar li span.icon {  height: 20px!important;  width: 20px!important;  }
	.student-details ul.checkinfo li label { line-height: 1.5!important; margin-bottom: 5px!important;}
}









@media screen and (min-width:1500px) {

    .container {
        max-width: 1440px;
    }
}

@media screen and (max-width:1700px) {
	.gj-datepicker [role="right-icon"] { top: 0px;  right: 0px;}
a.edite, a.Delete {  width: 40%;  line-height: 2;  font-size: 15px; min-width: auto;}
header {  min-height: 80px; padding:0px 30px 0px 20px;}
.main-section { margin-top: 80px; padding: 30px;}
.inner-section form input[type="text"] { line-height: 2.4; padding: 0px 12px;min-width: 67%;font-size: 15px;}
.add-payment  select.form-control {min-width: auto; width: 67%;}
.add-payment label {display: inline-block;  min-width: auto; width: 32%;}
.inner-section form input[type="submit"] { padding: 5px 15px; min-width: 130px; line-height: 1.9;
font-size: 15px;}
.inner-section form input[type="submit"].border-only { padding: 4px 25px;}
.add-payment.reporting form .form-group input[type="text"] { margin-bottom: 13px;}
.inner-section form input[type="submit"] {margin-top: 10px; }
.select-package label {  min-width: 32%;  font-size: 15px;  padding: 0px;}
.inner-section {  padding: 20px 20px;     min-height: 236px;}
.inner-section h2 {   font-size: 19px;  margin-bottom: 20px;}
.add-payment .inner-section {  max-width: 640px;}
.status .inner-section form input[type="text"] { width: 70%;  min-width: 45%;}
.package-section.student-list table tr th { font-size: 15px;}
.package-section.student-list table td, .package-section table th { font-size: 16px;}
.student-list a.edite, .student-list a.Delete {  width: 33%;  line-height: 1.8;  font-size: 15px;  min-width: 45%;margin: 0 2px;}
.package-section.student-list  {  margin-top: 25px;}
.status.payment-report label {  margin-left:0px; margin-right: 0; display: inline-block; width: 35%;}
.status .inner-section form .form-group { text-align: center;}
.status.payment-report .inner-section form .no-gutters input[type="text"],.status.payment-report .inner-section form .no-gutters .gj-datepicker {width: 54%;}
.status.payment-report .inner-section form .no-gutters .gj-datepicker input[type="text"] {  width: 100%;  border-radius: 10px;}
.payment-report .gj-datepicker [role="right-icon"] { top: 2px; right: 2px;}
.payment-report .gj-datepicker [role="right-icon"] i { font-size: 18px;}
.gj-datepicker { max-width: 100%;  width: 67%;  display: inline-block!important;}
select.form-control {  padding-top: 0px;  padding-bottom: 0px; height:38px!important;}
.add-payment .form-group input[type="text"]{ min-width: auto;   width: 67%; }
.add-payment.admin .form-group input[type="password"] { min-width: auto;   width: 67%;   display: inline-block; -webkit-letter-spacing: -0.4em;}
	.add-payment.admin .form-group label {  width: 32%;}
aside.menu-sidebar { width: 270px;}
.profile-setup .user-pic { width: 40px;  height: 40px; padding: 6px 33px 6px 10px;	}
aside.menu-sidebar figure {margin: 0;  width: 60px; height: 60px;  background-size: cover;}
.menu-list ul li a {   line-height: 2.5; border-radius: 0px; font-size: 17px; text-align: left; padding: 0 15px;}
aside.menu-sidebar li span.icon {  height: 16px; width: 15px; top: 1px; left: 0;  z-index: 99; margin-right: 9px;}
aside.menu-sidebar .menu-list ul.nav li a.drwopicon::after { font-size: 10px; line-height: 1.9;}
.main-section { display: block; margin-left: 270px;}
header .logo h1 { font-size: 35px;}
.package-section {  margin-top: 30px;}
.menu-list { margin-top: 20px;}
aside.menu-sidebar {  padding-top: 100px;}
.package-section table td { font-size: 16px; padding:12px 12px;}
.package-section table tr th { font-size: 15px; padding: 15px 10px;}	
aside.menu-sidebar .profile h2 { font-size: 19px; margin-left: 14px;}
.package-section.student-list table tr th:nth-child(7) { width: 74px; line-height: 1.3;}
.package-section.student-list table tr th:nth-child(8) {  width: 190px;}
.inner-section label { font-size: 15px;}
.student-details ul li strong {  font-size: 13px; line-height: 3.5;}
.student-details ul li { line-height: 2.8;  font-size: 15px;}
.student-details ul li ul {  width: 63%;}
.student-details ul li ul li {   width: 32%;  margin-right: 0;  margin-bottom: 15px;}
.student-details .inner-section { min-height: 766px;}
.student-details input[type="submit"], .student-details input[type="submit"].cancel { margin-top: 0px;  font-size: 20px; min-width: 132px;   padding: 5px 25px;}
.add-payment.reporting .gj-datepicker [role="right-icon"] { top: 0px; right: 13px;}
.add-payment.reporting form .form-group .gj-datepicker input[type="text"] { margin-bottom: 0px;}
.add-payment.reporting label { margin: 0 0 10px 0;}
#datepicker {  line-height: 2.4;}	
.asign-package .inner-section {padding: 30px 40px;}
.add-payment.asign-package label {  display: inline-block;  min-width: auto;  width: 25%;}
	.add-payment.asign-package select.form-control {  width: 74%;}
	.add-payment.admin .form-group input[type="password"] {  line-height: 1.8;}
}